Host letsencrypt
  Hostname 164.41.86.15
  Port 21
  User lappis

Host boca
  Hostname 10.0.0.163
  User lappis

Host squid
  Hostname 10.0.0.145
  User lappis

Host backup-lappis
  Hostname 10.0.0.15
  User root

Host backup-lappis-cpd
  Hostname 164.41.86.14
  Port 21
  User root

Host rocketchat
  Hostname 10.0.0.169
  User lappis

Host portal
  Hostname 164.41.86.17
  Port 21
  User lappis

Host codeschool
  Hostname 10.0.0.137
  User root

Host repos
  Hostname 10.0.0.143
  User lappis

Host portalhomologa
  Hostname 10.0.0.153
  User lappis

Host moodle
  Hostname 10.0.0.141
  User ubuntu

Host firewall
  Hostname 10.0.0.131
  User root

Host nagios
  Hostname 10.0.0.145
  User lappis

Host nagios-client
  Hostname 10.0.0.154
  User root
